@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

html.dark body {
    background: #020617;
    color: white;
}

html:not(.dark) body {
    background: white;
    color: black;
}

body {
    background: #020617;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

